[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-devicons"]
[submodule "vim-colors"]
	path = vim-colors
	url = git@github.com:stephencottontail/vim-colors.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim-jsx-pretty"]
	path = vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "diagnostic-languageserver"]
	path = diagnostic-languageserver
	url = git@github.com:iamcco/diagnostic-languageserver.git
[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
